body {
    background-color: #EEE;
    font-family: 'Montserrat', sans-serif;
}
.titulo_formulario {
    font-weight: bold;
}
.data_reserva, .horario_reserva {
    font-weight: bold;
}
.box {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #703543;
    padding: 15px;
    border-radius: 15px;
    width: 25%;
}
fieldset {
    border: 3px solid white;
}
legend {
    border: 1px solid #581616;
    padding: 10px;
    text-align: center;
    background-color: #581616;
    border-radius: 8px;
}
.inputBox {
    position: relative;
}
.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
inputUser:valid ~ .labelInput {
    top: -20px;
    font-size: 12px;
}
#dia_reserva {
    border: none;
    padding: 6px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#horario_reserva {
    border: none;
    padding: 6px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}
#submit {
    background: #581616;
    width: 100%;
    border: none;
    padding: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: .5s;
}
#submit:hover {
    background: #7a0b0b;

}
