* {
    margin: 0;
    padding: 0;
}

.container01_cadastro{
    align-items: center;
    display: flex;
    gap: 2rem;
    height: 100vh;
    justify-content: center;
}

.img_container01{
    height: 70%;
}

.container02_cadastro {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-between;
    text-align: center;
    width: 416px;
}

.mensagem_cadastro{
    text-align: left;
    margin-top: 15px;
}

.continuar_cadastro{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icones{
    width: 20px;
}

.texto_p{
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 10px;
}

#facebook{
    background: #6081C7;
    cursor: pointer;
    color: #29292954;
    font-weight: bold;
}
#facebook:hover{
    background: #4074e6;
    color: white;
    transition: 0.3s;
}

.email-e-formas{
    background: #F5F5F5;
    cursor: pointer;
    font-weight: bold;
}
.email-e-formas:hover{
    background: #c7c5c5;
    transition: 0.3s;
}
.botao_continuar_cadastro{
    padding: 15px;
    width: 400px;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
}

.forma-entrar_cadastro{
    margin: 0 0 100px;
}
.botao_forma-entrar_cadastro{
   padding: 15px;
   width: 190px;
   border-radius: 9px;
   border: none;
}