/* Container01 */
.container01_rodape{
    background: #703543;
    display: flex;
    height: 100px;
    justify-content: space-around;

}

.coluna_rodape{
    color: #FFFFFF;
    margin: auto;

}

.texto_coluna_rodape{
    font-size: 25px;
    margin: 0;

}

/* Container02 */
.container02_rodape{
    align-items: center;
    background: #581616;
    color: #FFFFFF;
    display: inline-block;
    height: auto;
    padding: 20px;
    justify-content: space-around;
    width: 100%;

}
.titulo_contato_rodape {
    font-weight: bold;
    font-size: 16px;
    padding: 20px;
}
.informacao_container02_rodape {
    display: flex;
    display: inline-block;
}
.link_container02_rodape, .subtitulo_container02_rodape{
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    margin: 0 30px 0 30px;
}
.link_container02_rodape:hover{
    background: #703543;
    border-radius: 3px;
    transition: 0.5s;
}
.link_container02_rodape:active{
    background: #996571;
    border-radius: 3px;
}
.coluna_container02_rodape{
    display: inline-block;
    padding: 10px;
    padding-left: 70px;
}
.informacao_container02_rodape{
    margin: 0;
}
.linha_inicio {
    padding-left: 180px;
    
}
hr {
    width: 80%;
}

