.mapa {
    padding: 3em 0;
}

.titulo_mapa{
    border-bottom: 3px solid rgba(241, 196, 0, 1);
    width: 50%;
    margin: 45px auto 0;

}

.conteudo_titulo_mapa{
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px;
}

.tec_mapa {
    width: 90%;
    margin: 25px auto;
    padding-left: 57px;
}